In [1]:
import pandas as pd
import seaborn as sns 
import glob

In [2]:
import_files = glob.glob("data/imports/country_wise/*.xlsx")
import_files = sorted(import_files)
import_files

['data/imports/country_wise/eidb-country_wise_import(1).xlsx',
 'data/imports/country_wise/eidb-country_wise_import(2).xlsx',
 'data/imports/country_wise/eidb-country_wise_import(3).xlsx',
 'data/imports/country_wise/eidb-country_wise_import(4).xlsx',
 'data/imports/country_wise/eidb-country_wise_import(5).xlsx',
 'data/imports/country_wise/eidb-country_wise_import(6).xlsx',
 'data/imports/country_wise/eidb-country_wise_import.xlsx']

In [3]:
row = []
columns = ['sn', 'country', 'vol_p', 'share_p', 'vol_c', 'share_c', 'growth']
for file in import_files:
    print(file)
    df = pd.read_excel(file, header=1)
    df = df.iloc[:-1]
    year = int(df.columns[4].split('-')[1])
    df.columns = columns
    for index in range(df.shape[0]):
        row.append([df['country'][index], year, df['vol_c'][index],df['share_c'][index], df['growth'][index]])
    if year == 2019:
        for index in range(df.shape[0]):
            row.append([df['country'][index], year-1, df['vol_p'][index],df['share_p'][index], 'NA'])

data/imports/country_wise/eidb-country_wise_import(1).xlsx
data/imports/country_wise/eidb-country_wise_import(2).xlsx
data/imports/country_wise/eidb-country_wise_import(3).xlsx
data/imports/country_wise/eidb-country_wise_import(4).xlsx
data/imports/country_wise/eidb-country_wise_import(5).xlsx
data/imports/country_wise/eidb-country_wise_import(6).xlsx
data/imports/country_wise/eidb-country_wise_import.xlsx

In [4]:
columns = ['Country', 'Year', 'Value(Imports)', 'Share', 'Growth']
import_data_all = pd.DataFrame(row, columns=columns)
import_data_all

            Country  Year  Value(Imports)   Share     Growth
0       AFGHANISTAN  2020          529.84  0.1116      21.68
1           ALBANIA  2020           47.51  0.0100     110.06
2           ALGERIA  2020         1996.76  0.4206      17.67
3       AMERI SAMOA  2020            3.08  0.0006  617139.67
4           ANDORRA  2020            0.03  0.0000     -13.17
...             ...   ...             ...     ...        ...
1831   VIRGIN IS US  2018            0.28  0.0001         NA
1832    WALLIS F IS  2018            0.01  0.0000         NA
1833  YEMEN REPUBLC  2018          153.05  0.0329         NA
1834         ZAMBIA  2018         1094.98  0.2352         NA
1835       ZIMBABWE  2018           62.20  0.0134         NA

[1836 rows x 5 columns]

In [5]:
import_data_all.to_csv('clean_data/CountryWiseImports.csv')

In [6]:
export_files = glob.glob("data/exports/country_wise/*.xlsx")
export_files = sorted(export_files)
export_files

['data/exports/country_wise/eidb-chapterwiseallcommodities_export (1).xlsx',
 'data/exports/country_wise/eidb-chapterwiseallcommodities_export (2).xlsx',
 'data/exports/country_wise/eidb-chapterwiseallcommodities_export (3).xlsx',
 'data/exports/country_wise/eidb-chapterwiseallcommodities_export (4).xlsx',
 'data/exports/country_wise/eidb-chapterwiseallcommodities_export (5).xlsx',
 'data/exports/country_wise/eidb-chapterwiseallcommodities_export (6).xlsx',
 'data/exports/country_wise/eidb-chapterwiseallcommodities_export.xlsx']

In [7]:
row = []
columns = ['sn', 'country', 'vol_p', 'share_p', 'vol_c', 'share_c', 'growth']
for file in export_files:
    print(file)
    df = pd.read_excel(file, header=1)
    df = df.iloc[:-1]
    year = int(df.columns[4].split('-')[1])
    df.columns = columns
    for index in range(df.shape[0]):
        row.append([df['country'][index], year, df['vol_c'][index],df['share_c'][index], df['growth'][index]])
    if year == 2019:
        for index in range(df.shape[0]):
            row.append([df['country'][index], year-1, df['vol_p'][index],df['share_p'][index], 'NA'])

data/exports/country_wise/eidb-chapterwiseallcommodities_export (1).xlsx
data/exports/country_wise/eidb-chapterwiseallcommodities_export (2).xlsx
data/exports/country_wise/eidb-chapterwiseallcommodities_export (3).xlsx
data/exports/country_wise/eidb-chapterwiseallcommodities_export (4).xlsx
data/exports/country_wise/eidb-chapterwiseallcommodities_export (5).xlsx
data/exports/country_wise/eidb-chapterwiseallcommodities_export (6).xlsx
data/exports/country_wise/eidb-chapterwiseallcommodities_export.xlsx

In [8]:
columns = ['Country', 'Year', 'Value(Exports)', 'Share', 'Growth']
export_data_all = pd.DataFrame(row, columns=columns)
export_data_all

            Country  Year  Value(Exports)   Share  Growth
0       AFGHANISTAN  2020          997.58  0.3183   39.43
1           ALBANIA  2020           44.12  0.0141   18.97
2           ALGERIA  2020          611.02  0.1950  -35.02
3       AMERI SAMOA  2020            0.13  0.0000  401.64
4           ANDORRA  2020            0.08  0.0000  -76.41
...             ...   ...             ...     ...     ...
1905   VIRGIN IS US  2018            2.88  0.0009      NA
1906    WALLIS F IS  2018            0.05  0.0000      NA
1907  YEMEN REPUBLC  2018          563.46  0.1856      NA
1908         ZAMBIA  2018          294.29  0.0970      NA
1909       ZIMBABWE  2018          163.54  0.0539      NA

[1910 rows x 5 columns]

In [9]:
export_data_all.to_csv('clean_data/CountryWiseExports.csv')

In [10]:
commodity_files = glob.glob("data/imports/commodity_wise_china/*.xlsx")
commodity_files = sorted(commodity_files)
commodity_files

['data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities (1).xlsx',
 'data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities (2).xlsx',
 'data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities (3).xlsx',
 'data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities (4).xlsx',
 'data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities (5).xlsx',
 'data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities (6).xlsx',
 'data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities (7).xlsx',
 'data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities.xlsx']

In [11]:
row = []
columns = ['SN', 'HSCode','Commodity', 'vol_p', 'vol_c',  'growth']
for file in commodity_files:
    print(file)
    df = pd.read_excel(file, header=2)
    df = df.iloc[:-1]
    year = int(df.columns[3].split('-')[0])
    df.columns = columns
    for index in range(df.shape[0]):
        row.append([df['HSCode'][index], year+1, df['Commodity'][index],df['vol_c'][index], df['growth'][index]])
    if year == 2019:
        for index in range(df.shape[0]):
            row.append([df['HSCode'][index], year, df['Commodity'][index],df['vol_c'][index], 'NA'])

data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities (1).xlsx
data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities (2).xlsx
data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities (3).xlsx
data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities (4).xlsx
data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities (5).xlsx
data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities (6).xlsx
data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities (7).xlsx
data/imports/commodity_wise_china/TradeStat-Eidb-Import-Country-wise-all-commodities.xlsx

In [12]:
df

,SN,HSCode,Commodity,vol_p,vol_c,growth
0,1,01,LIVE ANIMALS.,0.07,0.00,-99.80
1,2,03,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",0.53,0.94,77.80
2,3,04,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,0.00,0.00,NaN
3,4,05,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...",2.59,2.47,-4.38
4,5,06,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,2.49,3.77,51.39
...,...,...,...,...,...,...
92,93,95,"TOYS, GAMES AND SPORTS REQUISITES; PARTS AND A...",488.55,451.71,-7.54
93,94,96,MISCELLANEOUS MANUFACTURED ARTICLES.,310.05,339.56,9.52
94,95,97,WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.,109.99,1.31,-98.81
95,96,98,PROJECT GOODS; SOME SPECIAL USES.,612.70,554.94,-9.43
96,97,99,MISCELLANEOUS GOODS.,1.18,0.03,-97.69

In [13]:
columns =  ['HSCode', 'Year', 'Commodity', 'Vol (Imports)',  'Gowth']
export_data_all = pd.DataFrame(row, columns=columns)
export_data_all.to_csv('clean_data/CommodityWiseImports.csv')

In [14]:
export_data_all

,HSCode,Year,Commodity,Vol (Imports),Gowth
0,01,2019,LIVE ANIMALS.,0.01,5804.52
1,03,2019,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",2.05,117.61
2,05,2019,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...",4.71,90.25
3,06,2019,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND ...,3.75,-0.48
4,07,2019,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,54.85,9.45
...,...,...,...,...,...
861,95,2018,"TOYS, GAMES AND SPORTS REQUISITES; PARTS AND A...",451.71,-7.54
862,96,2018,MISCELLANEOUS MANUFACTURED ARTICLES.,339.56,9.52
863,97,2018,WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.,1.31,-98.81
864,98,2018,PROJECT GOODS; SOME SPECIAL USES.,554.94,-9.43
865,99,2018,MISCELLANEOUS GOODS.,0.03,-97.69

In [15]:
import os
import glob
import pandas as pd

base_folder = "data/imports/CommodityWiseAll"
columns = ['s.no', 'country', 'vol_p',  'vol_c', 'growth']
final_columns = ['Country','HSCode', 'Year', 'Value(Imports)', 'Growth']

# Loop through all subfolders
for subfolder in sorted(os.listdir(base_folder)):
    folder_path = os.path.join(base_folder, subfolder)
    if os.path.isdir(folder_path):
        print(f"Processing folder: {subfolder}")
        row = []  # reset for each folder
        excel_files = glob.glob(os.path.join(folder_path, "*.xlsx"))
        for file in sorted(excel_files):
            print(f"  Reading file: {os.path.basename(file)}")
            df = pd.read_excel(file, header=2)
            df = df.iloc[:-1, :5]  # keep relevant rows/columns
            year = int(df.columns[3].split('-')[0])
            df.columns = columns

            # Append data
            for index in range(df.shape[0]):
                row.append([df['country'][index], subfolder, year, df['vol_c'][index], df['growth'][index]])

            # Special case for 2019
            if year == 2019:
                for index in range(df.shape[0]):
                    row.append([df['country'][index], subfolder, year-1, df['vol_p'][index], 'NA'])
            
        # Save folder-specific CSV
        commodity_df = pd.DataFrame(row, columns=final_columns)
        output_path = f"clean_data/CountryWiseImports_{subfolder}.csv"
        commodity_df.to_csv(output_path, index=False)

Processing folder: HSCode_29
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (1).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (2).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (3).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (4).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (5).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (6).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (7).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries.xlsx
Processing folder: HSCode_31
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (1).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (2).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (3).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (4).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (5).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (6).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (7).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries.xlsx
Processing folder: HSCode_39
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (1).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (2).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (3).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (4).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (5).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (6).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (7).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries.xlsx
Processing folder: HSCode_84
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (1).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (2).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (3).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (4).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (5).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (6).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (7).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries.xlsx
Processing folder: HSCode_85
  Reading file: TradeStat-Eidb-Import-Commodity-wise-all-countries (1).xlsx
  Reading file: TradeStat-Eidb-Import-Commodity-wise-all-countries (2).xlsx
  Reading file: TradeStat-Eidb-Import-Commodity-wise-all-countries (3).xlsx
  Reading file: TradeStat-Eidb-Import-Commodity-wise-all-countries (4).xlsx
  Reading file: TradeStat-Eidb-Import-Commodity-wise-all-countries (5).xlsx
  Reading file: TradeStat-Eidb-Import-Commodity-wise-all-countries (6).xlsx
  Reading file: TradeStat-Eidb-Import-Commodity-wise-all-countries (7).xlsx
  Reading file: TradeStat-Eidb-Import-Commodity-wise-all-countries.xlsx
Processing folder: HSCode_90
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (1).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (2).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (3).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (4).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (5).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (6).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries (7).xlsx
  Reading file: TradeStat-Eidb-Export-Commodity-wise-all-countries.xlsx